<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quarantine relax
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" padding class="masters">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wuarantine relax</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row *ngFor="let fila of sonidos;let Numfila=index;">
      <ion-col *ngFor="let sound of fila;let NumCol=index;">
        <div [style.background-color]="sound.div">
          <img [src]="sound.img" alt="lluvia" (click)="playClick(Numfila, NumCol)">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="changeRange($event, Numfila, NumCol)">
          </ion-range>
        </div>
      </ion-col>
      <!-- <ion-col>
        <div [style.background-color]="color.thundersDiv">
          <img src="assets/icon/tormenta.png" alt="tormenta" (click)="thundersClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="thundersRange($event)">
          </ion-range>
        </div>
      </ion-col>
      <ion-col>
        <div [style.background-color]="color.vientoDiv">
          <img src="assets/icon/viento.png" alt="viento" (click)="vientoClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="vientoRange($event)">
          </ion-range>
        </div>
      </ion-col> -->
    </ion-row>


    <!-- <ion-row>
      <ion-col>
        <div [style.background-color]="color.lenaDiv">
          <img src="assets/icon/lena.png" alt="lenia" (click)="lenaClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="lenaRange($event)">
          </ion-range>
        </div>
      </ion-col>
      <ion-col>
        <div [style.background-color]="color.caminarDiv">
          <img src="assets/icon/caminar.png" alt="caminar" (click)="caminarClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="caminarRange($event)">
          </ion-range>
        </div>
      </ion-col>
      <ion-col>
        <div [style.background-color]="color.lunaDiv">
          <img src="assets/icon/luna.png" alt="luna" (click)="lunaClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="lunaRange($event)">
          </ion-range>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div [style.background-color]="color.olaDiv">
          <img src="assets/icon/ola.png" alt="ola" (click)="olaClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="olaRange($event)">
          </ion-range>
        </div>
      </ion-col>
      <ion-col>
        <div [style.background-color]="color.playaDiv">
          <img src="assets/icon/playa.png" alt="playa" (click)="playaClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="playaRange($event)">
          </ion-range>
        </div>
      </ion-col>
      <ion-col>
        <div [style.background-color]="color.pajaroDiv">
          <img src="assets/icon/pajaro.png" alt="pajaro" (click)="pajaroClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="pajaroRange($event)">
          </ion-range>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div [style.background-color]="color.vientoArbolDiv">
          <img src="assets/icon/viento-arbol.png" alt="viento-arbol" (click)="vientoArbolClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="vientoArbolRange($event)">
          </ion-range>
        </div>
      </ion-col>
      <ion-col>
        <div [style.background-color]="color.ferrocarrilDiv">
          <img src="assets/icon/ferrocarril.png" alt="ferrocarril" (click)="ferrocarrilClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="ferrocarrilRange($event)">
          </ion-range>
        </div>
      </ion-col>
      <ion-col>
        <div [style.background-color]="color.granjaDiv">
          <img src="assets/icon/granja.png" alt="granja" (click)="granjaClick()">
          <ion-range min="0" max="10" value="10" color="secondary" (ionChange)="granjaRange($event)">
          </ion-range>
        </div>
      </ion-col>
    </ion-row> -->


  </ion-grid>
  
</ion-content>
